<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
<p th:text="'ID: ' + ${book.getId()}">VALUE</p>
<p th:text="'Название: ' + ${book.getTitle()}">VALUE</p>
<p th:text="'Автор: ' + ${book.getAuthor()}">VALUE</p>
<p th:text="'Год: ' + ${book.getYear()}">VALUE</p>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>