<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reader</title>
</head>
<body>

<p th:text="'ID: ' + ${reader.getId()}">VALUE</p>
<p th:text="'Номер читательского билета: ' + ${reader.getReaderTicketNumber()}">VALUE</p>
<p th:text="'Имя: ' + ${reader.getName()}">VALUE</p>
<p th:text="'Фамилия: ' + ${reader.getSurname()}">VALUE</p>
<p th:text="'Отчество: ' + ${reader.getPatronymic()}">VALUE</p>
<p th:text="'Возраст : ' + ${reader.getAge()}">VALUE</p>
<p th:text="'Пол : ' + ${reader.getGender()}">VALUE</p>
<p th:text="'Email: ' + ${reader.getEmail()}">VALUE</p>

<a th:href="@{/readers/{id}/edit(id=${reader.getId()})}">Редактировать</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/readers/{id}(id=${reader.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>